.recipe-card {
    border-radius: 5px;
    width: 100%;
    display: flex;
    height: 300px;
    margin-bottom: 30px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 7px 20px 5px rgba(10, 10, 10, 0.07);
    transition: all .3s ease-in-out;
    flex-direction: column;
}

.recipe-card-image {
    flex: 6;
    overflow: hidden
}

.recipe-card-info {
    flex: 1;
    padding: 20px;
}

.recipe-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all .3s ease-in-out;
}

.recipe-card:hover img {
    transform: scale(1.5);
}

.recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 7px 20px 5px rgba(10, 10, 10, 0.15);
}

h3 {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}